<section id='about'>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-md-6'>
        <h4 class='text-muted'>Things I am - About</h4>
      </div>
    </div>
  </div>
  <div class='container'>
    <div class='row'>
      <div class='col-md-4'>
        <h3 class="text-muted">
          Henne Vogelsang
        </h3>
        {% asset 'henne.png' alt='A headshot of Henne Vogelsang' class='img-responsive u-photo' %}
      </div>
      <div class='col-md-4'>
        <h3 class='text-muted'>Engineering Manager &amp; Full Stack Web Developer </h3>
        <p class="p-note">
          I'm a software engineering manager helping people to realize their full potential. For the good of the business and
          for themselves. I am also a developer of the modern web. And for more than a decade I am a rigorous practitioner of
          Free Software development.
        </p>
        <p>
          My day job at
          <a href="https://www.suse.com">SUSE.com</a>
          is hacking, operating and maintaining the Linux release engineering platform
          <a href="http://openbuildservice.org">Open Build Service.</a>
        </p>
        <p>
          I lead by generating shared understanding about the needs, goals and limitations of customers,
          the business and peers. I have confidence in introspection to detect undesirable process, technical and personal
          variances. And I believe it needs a diverse set of people to produce any meaningful product.
        </p>
        <p>
          When hacking, I express my applications business values in RSpec. Capture the apps behavior in Ruby on Rails.
          And help humans to interact with it's data through mobile first, responsive and progressively enhanced HTML5, CSS3 and
          JavaScript driven user interfaces.
        </p>
        <p>
          I love the raw power of communities collaborating. I consider it vital that everyone is able to run, copy, distribute,
          study, change and improve the software that is running the world.
        </p>
        <p>
          In my space time I hone my skills by hacking a library to instrument Ruby on Rails applications. Leading an Open Source
          project that is producing a conference organization app. And by teaching free software development with programs like
          <a href="http://railsgirlssummerofcode.org/">RailsGirls Summer of Code</a>
        </p>
      </div>
      <div class='col-md-4'>
        <h3 class='text-muted'>
          and more...
        </h3>
        <canvas id='myChart'></canvas>
        <ol>
          <li>
            <span style='border-bottom: 3px solid #46BFBD'>
              Development
            </span>
          </li>
          <li>
            <span style='border-bottom: 3px solid #FDB45C'>
              Design/UX
            </span>
          </li>
          <li>
            <span style='border-bottom: 3px solid #F7464A'>
              Operations
            </span>
          </li>
          <li>
            <span style='border-bottom: 3px solid #66CD00'>
              <small>
                Project/People/Community
              </small>
              <br>
              Management
            </span>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
