<section id='about'>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-md-6'>
        <h4 class='text-muted'>About me</h4>
      </div>
    </div>
  </div>
  <div class='container'>
    <div class='row'>
      <div class='col-md-4'>
        <h3 class="text-muted">
          Henne Vogelsang
        </h3>
        <img src="/images/henne.png" class="img-responsive">
      </div>
      <div class='col-md-4'>
        <h3 class='text-muted'>full stack developer of the modern web</h3>
        <p>
          I express my apps business values in RSpec, capture it's behaviour in
          Ruby on Rails models and help Humans to interact with it's data through mobile first,
          responsive and progressive enhanced HTML5, CSS3 and JavaScript driven user interfaces.
        </p>
        <p>
          For more than a decade I am a rigorous practitioner of Free Software development.
          I love the raw power of communities collaborating and I believe that everyone
          should be able to run, copy, distribute, study, change and improve the software that is
          <del>
            eating
          </del>
          &nbsp;
          running the world.
        </p>
        <p>
          My day job at
          <a href="http://www.suse.com">SUSE.com</a>
          is hacking, operating and maintaining the Linux distribution
          development platform
          <a href="http://openbuildservice.org">Open Build Service.</a>
          A massive Ruby on Rails/Perl application.
        </p>
        <p>
          In my free time I practice my skills by developing an event organization app, the
          <a href="http://osem.io">Open Source Event Manager</a>,
          by operating a lot of the server infrastructure of the
          <a href="http://opensuse.org">openSUSE project</a>,
          and by teaching free software development with programs such as
          <a href="http://railsgirlssummerofcode.org/">RailsGirls Summer of Code</a>.
          When I'm not hacking you'll find me either hiking the world or in the next football stadium.
        </p>
      </div>
      <div class='col-md-4'>
        <h3 class='text-muted'>
          and more...
        </h3>
        <canvas id='myChart'></canvas>
        <ol>
          <li>
            <span style='border-bottom: 3px solid #46BFBD'>
              Development
            </span>
          </li>
          <li>
            <span style='border-bottom: 3px solid #FDB45C'>
              Design/UX
            </span>
          </li>
          <li>
            <span style='border-bottom: 3px solid #F7464A'>
              Operations
            </span>
          </li>
          <li>
            <span style='border-bottom: 3px solid #66CD00'>
              <small>
                Project/People/Community
              </small>
              <br>
              Management
            </span>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
