<section id='blog'>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-md-12'>
        <h4 class='text-muted'>Things I write - Blog</h4>
      </div>
    </div>
  </div>
  <div class='container'>
    <div class='row'>
      <div class='col-md-8' id='feature'>
        <h2>
          <a class="post-link" href="{{ site.posts.first.url | prepend: site.baseurl }}">{{ site.posts.first.title }}</a>
        </h2>
        <p class="text-muted">
          {% include post_meta.html date=site.posts.first.date tags=site.posts.first.tags %}
        </p>
        {% if site.posts.first.image %}
          <img class='img-responsive img-rounded center-block' src='/images/posts/{{ site.posts.first.image }}' alt='Post Image'>
        {% else %}
          <img class='img-responsive img-rounded center-block' src='//lorempixel.com/g/750/382/technics?{{post.path}}' alt='Post Image'>
        {% endif %}
        {% if site.posts.first.image %}
          <p id="post-image-license" class="img-license pull-right hidden-xs">
            {{ site.posts.first.image_license }}
          </p>
        {% endif %}
        <div class='excerpt lead'>
          {{ site.posts.first.excerpt }}
        </div>
        <p class="text-right">
          <a href="{{ site.posts.first.url | prepend: site.baseurl }}#more">Continue reading...</a>
        </p>
      </div>
      <div class='col-md-3 col-md-offset-1'>
        {% include posts_carousel.html %}
      </div>
    </div>
  </div>
</section>
