<div id='footer'>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-md-3 col-md-offset-2 col-sm-3 col-sm-offset-2'>
        <h2>Get in touch</h2>
        <p>
          Got a project you would like to involve me in?
          Shoot me an email and I'll get back to you!
        </p>
        <p>
          <a href='mailto:hvogel@hennevogel.de' rel="me" class="email">hvogel@hennevogel.de</a>
        </p>
      </div>
      <div class='col-md-3 col-md-offset-2 col-sm-3 col-sm-offset-2'>
        <h2>Follow me</h2>
        <ul class="list-inline">
          <li><a href="https://hennevogel.de/feed.xml" rel="me"><span class='linea-blog linea-2x' title='Blog'></span></a></li>
          <li><a href="https://twitter.com/henne" rel="me" class="u-url"><span class='linea-twitter linea-2x' title='Twitter'></span></a></li>
          <li><a href="https://github.com/hennevogel" rel="me" class="u-url"><span class='linea-github linea-2x' title='GitHub'></span></a></li>
          <li><a href="https://de.linkedin.com/in/hennevogel" rel="me" class="u-url"><span class='linea-linkedin linea-2x' title='LinkedIn'></span></a></li>
        </ul>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-12'>
        <p class='muted text-center small'>
          <span class='glyphicon glyphicon-copyright-mark'></span>
          <a href="https://hennevogel.de" class="fn u-url">
            Hendrik Vogelsang
          </a>
          &middot;
          <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
            <img alt="Licensed CC-BY-SA of not otherwise expressed"
                 title="Licensed CC-BY-SA of not otherwise expressed"
                 src="//licensebuttons.net/l/by-sa/4.0/80x15.png"
            />
          </a>
          &middot;
          <a href="https://github.com/hennevogel/hennevogel.de/issues">
            Feedback
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
</div> <!-- Closing the vcard div in _includes/about.html -->
