<section id='hacks'>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-md-6'>
        <h4 class='text-muted'>Things I hack - Portfolio</h4>
      </div>
    </div>
  </div>
  <div class="hack">
    <div class="container">
      <div class="row">
          <div class="col-md-6 col-md-push-6">
            <a href="http://osem.io">
              {% asset 'hacks/osem.png' alt='A screenshot of the Open Source Event Manager Interface' class='img-responsive' %}
            </a>
          </div>
          <div class="col-md-6 col-md-pull-6">
            <h2>
              OSEM - Event Management App
            </h2>
            <hr>
            <p>
              An event management app tailored to Free Software conferences. Helps organizers
              with paper submission, marketing and analytics of events. I contribute to all
              aspects of this app. From the backend over the user interface to the the landing
              page.
            </p>
            <ul>
              <li>
                <strong>
                  Role:
                </strong>
                Lead Developer
              </li>
              <li>
                <strong>
                  Platform:
                </strong>
                Web, Android
              </li>
              <li>
                <strong>
                  Technology:
                </strong>
                Ruby on Rails, Bootstrap, Haml, Sass, JQuery, SQL, RSpec
              </li>
              <li>
                <strong>
                  Customer:
                </strong>
                <a href="https://www.opensuse.org/">openSUSE</a>,
                <a href="https://www.gnome.org/">GNOME</a>,
                <a href="https://owncloud.org/">ownCloud</a>
              </li>
              <li>
                <strong>
                  Github:
                </strong>
                <a href="https://github.com/openSUSE/osem">openSUSE/osem</a>
              </li>
              <li>
                <strong>
                  Online:
                </strong>
                <a href="http://osem.io">osem.io</a>,
                <a href="http://demo.osem.io">Demo Instance</a>
              </li>
            </ul>
          </div>
      </div>
    </div>
  </div>
  <div class="hack">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <a href="http://openbuildservice.org">
            {% asset 'hacks/obs.png' alt='A screenshot of the Open Build Service Interface' class='img-responsive' %}
          </a>
        </div>
        <div class="col-md-6">
          <h2>
            Open Build Service - Software Release Engineering System
          </h2>
          <hr>
          <p>
            Helps Free Software developers with the compilation, assembly, and delivery of source code into finished products
            for a wide range of Linux operating systems and hardware architectures. I am responsible for the Ruby on Rails backend
            and frontend (UI/API). I also contribute to many other aspects of this project. Like developer relations &amp; marketing,
            writing documentation, operations of the reference server etc.
          </p>
          <ul>
            <li>
              <strong>
                Role:
              </strong>
              Lead Developer, Operations
            </li>
            <li>
              <strong>
                Platform:
              </strong>
              Web
            </li>
            <li>
              <strong>
                Technology:
              </strong>
              Ruby on Rails, Bootstrap, SQL, rspec, OCI Container
            </li>
            <li>
              <strong>
                Customer:
              </strong>
              <a href="https://www.suse.com/">SUSE</a>,
              <a href="https://www.opensuse.org/">openSUSE,</a>
              <a href="http://www.linuxfoundation.org/">Linux Foundation,</a>
              <a href="https://www.tizen.org/">Tizen,</a>
              <a href="http://www.intel.com/">Intel</a>
            </li>
            <li>
              <strong>
                Github:
              </strong>
              <a href="https://github.com/openSUSE/open-build-service">openSUSE/open-build-service</a>
            </li>
            <li>
              <strong>
                Online:
              </strong>
              <a href="http://openbuildservice.org">openbuildservice.org</a>,
              <a href="https://build.opensuse.org">Reference Server</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="hack">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-push-6">
          <a href="https://rubygems.org/gems/influxdb-rails">
            {% asset 'hacks/influxdb-rails.png' alt='A screenshot of a influxdb-rails dashboard' class='img-responsive' %}
          </a>
        </div>
        <div class="col-md-6 col-md-pull-6">
          <h2>
            influxdb-rails - Application Performance Metrics
          </h2>
          <hr>
          <p>
            A RubyGem that helps people to track performance and health of Ruby on Rails applications. By writing metrics into a time series database
            (InfluxDB) and providing dashboards (Grafana) to visualize those metrics.
          </p>
          <ul>
            <li>
              <strong>
                Roles:
              </strong>
              Lead Developer
            </li>
            <li>
              <strong>
                Technology:
              </strong>
              Ruby, InfluxDB, Grafana
            </li>
            <li>
              <strong>
                Customer:
              </strong>
              <a href="https://www.suse.com/">SUSE</a>,
              <a href="https://www.opensuse.org/">openSUSE</a>
            </li>
            <li>
              <strong>
                Github:
              </strong>
              <a href="https://github.com/influxdata/influxdb-rails">influxdata/influxdb-rails</a>
            </li>
            <li>
              <strong>
                Online:
              </strong>
              <a href="https://rubygems.org/gems/influxdb-rails">Rubygems</a>,
              <a href="https://obs-measure.opensuse.org/d/influxdb-rails-overview/performance?orgId=1&refresh=5m">Reference Dashboards</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="hack">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <a href="https://www.opensuse.org">
            {% asset 'hacks/opensuse.png' alt='A screenshot of the openSUSE web page' class='img-responsive' %}
          </a>
        </div>
        <div class="col-md-6">
          <h2>
            openSUSE - Linux Operating System
          </h2>
          <hr>
          <p>
            A stable, easy to use and multi-purpose Linux based
            operating system. Helps people to get all their of computing done, from
            browsing facebook to developing complex applications.
            I was part of the group of engineers that launched this
            community in 2005 and I'm still a member with various roles today. I maintain
            software packages that are included in the OS, I operate several
            servers/applications that the project utilizes and I contribute to the promotion
            by writing, speaking and evangelizing about it.
          </p>
          <ul>
            <li>
              <strong>
                Roles:
              </strong>
              Developer, Operation, Developer Relations, Editor
            </li>
            <li>
              <strong>
                Technology:
              </strong>
              Linux, Apache, Postfix, Wordpress, Mediawiki, Open Build Service, OSEM
            </li>
            <li>
              <strong>
                Online:
              </strong>
              <a href="https://www.opensuse.org">opensuse.org</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
