<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img src="/images/logo.png" width="70%" class="img-responsive">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/blog"><span class='linea-blog linea-2x' title='Blog'></span></a></li>
        <li><a href="https://twitter.com/henne"><span class='linea-twitter linea-2x' title='Twitter'></span></a></li>
        <li><a href="https://github.com/hennevogel"><span class='linea-github linea-2x' title='GitHub'></span></a></li>
        <li><a href="https://de.linkedin.com/in/hennevogel"><span class='linea-linkedin linea-2x' title='LinkedIn'></span></a></li>
      </ul>
    </div>
  </div>
</nav>
