<article>
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <h1>
        <a href="{{ site.siteurl }}{{ post.url }}">
          {{ post.title }}
        </a>
      </h1>
      <p class="text-muted">
        {% include post_meta.html date=post.date tags=post.tags %}
      </p>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <a href="{{ site.siteurl }}{{ post.url }}">
          {% if post.image %}
            <img class='img-responsive img-rounded center-block' src='/images/posts/{{ post.image }}'>
          {% else %}
            <img class='img-responsive img-rounded center-block' src="http://lorempixel.com/g/750/382/technics?{{post.path}}">
          {% endif %}
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="excerpt lead">
          {{ post.excerpt }}
        </div>
        <p class="text-right">
          <a href="{{ site.siteurl }}{{ post.url }}#more">Continue reading...</a>
        </p>
      </div>
    </div>
  </div>
</article>
