#about {
  #callout {
    font-size: 7em;
  }

  h3 {
    padding-top: 11px;
  }

  #pie {
    padding-top: 28px;
  }
  #myChart {
    width: 300px !important;
    height: auto !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  @media (min-width: $screen-sm-min) {
    #myChart {
      width: 550px !important;
    }
  }
  @media (min-width: $screen-md-min) {
    #myChart {
      width: 315px !important;
    }
  }
  @media (min-width: $screen-lg-min) {
    #myChart {
      width: 390px !important;
    }
  }
}
