#about {
  padding: $navbar-height 0 $navbar-height 0;

  #callout {
    font-size: 7em;
  }

  h3 {
    padding-top: 11px;
  }

  #pie {
    padding-top: 28px;
  }
  #chart {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
