#blog {
  #feature {
    .thumbnail {
      margin-bottom: 20px;
    }
  }
  #post-carousel {
    border-left-style: solid;
    border-width: 1px;
    border-color: #eeeeee;
    padding-left: 10px;
    .media {
      padding: 10px 0 10px;
    }
  }
  .post {
    margin: 10px 0 10px 0;
  }
}
