#blog {
  padding: $navbar-height 0 $navbar-height 0;

  #feature {
    .thumbnail {
      margin-bottom: 20px;
    }
  }
  #post-carousel {
    .media {
      padding: 10px 0 10px;
    }
  }
  .post {
    margin: 10px 0 10px 0;
  }
}
