@charset "UTF-8";

@font-face {
  font-family: "linea";
  src:url("/fonts/linea.eot");
  src:url("/fonts/linea.eot?#iefix") format("embedded-opentype"),
    url("/fonts/linea.woff") format("woff"),
    url("/fonts/linea.ttf") format("truetype"),
    url("/fonts/linea.svg#linea") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "linea" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="linea-"]:before,
[class*=" linea-"]:before {
  font-family: "linea" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.linea-2x {
  font-size: 2em;
}
.linea-3x {
  font-size: 3em;
}

.linea-4x {
  font-size: 4em;
}

.linea-5x {
  font-size: 5em;
}

.linea-check:before {
  content: "\62";
}
.linea-flash:before {
  content: "\63";
}
.linea-clock:before {
  content: "\61";
}
.linea-cloud:before {
  content: "\64";
}
.linea-heart:before {
  content: "\65";
}
.linea-heart-broken:before {
  content: "\66";
}
.linea-lightbulb:before {
  content: "\67";
}
.linea-link:before {
  content: "\68";
}
.linea-comment:before {
  content: "\69";
}
.linea-comments:before {
  content: "\6a";
}
.linea-paperplane:before {
  content: "\6b";
}
.linea-pin:before {
  content: "\6c";
}
.linea-feed:before {
  content: "\6d";
}
.linea-settings:before {
  content: "\6e";
}
.linea-share:before {
  content: "\6f";
}
.linea-star:before {
  content: "\70";
}
.linea-trash:before {
  content: "\71";
}
.linea-watch-2:before {
  content: "\72";
}
.linea-globe:before {
  content: "\73";
}
.linea-comment-add:before {
  content: "\75";
}
.linea-comment-delete:before {
  content: "\76";
}
.linea-clipboard:before {
  content: "\74";
}
.linea-money:before {
  content: "\77";
}
.linea-cart:before {
  content: "\78";
}
.linea-ruby:before {
  content: "\79";
}
.linea-ticket:before {
  content: "\7a";
}
.linea-mc:before {
  content: "\41";
}
.linea-pen:before {
  content: "\42";
}
.linea-carret-left:before {
  content: "\43";
}
.linea-doublecarret-left:before {
  content: "\44";
}
.linea-carret-right:before {
  content: "\45";
}
.linea-doublecarret-right:before {
  content: "\46";
}
.linea-close:before {
  content: "\47";
}
.linea-carret-up:before {
  content: "\48";
}
.linea-doublecarret-up:before {
  content: "\49";
}
.linea-bookmark:before {
  content: "\4a";
}
.linea-horn:before {
  content: "\4b";
}
.linea-tag:before {
  content: "\4c";
}
.linea-tags:before {
  content: "\4d";
}
.linea-music:before {
  content: "\4e";
}
.linea-present:before {
  content: "\50";
}
.linea-clipboard-pen:before {
  content: "\51";
}
.linea-book-pen:before {
  content: "\52";
}
.linea-hamburger:before {
  content: "\54";
}
.linea-list:before {
  content: "\55";
}
.linea-carret-down:before {
  content: "\56";
}
.linea-doublecarret-down:before {
  content: "\57";
}
.linea-anchor:before {
  content: "\58";
}
.linea-help:before {
  content: "\59";
}
.linea-picture:before {
  content: "\31";
}
.linea-video:before {
  content: "\32";
}
.linea-quote:before {
  content: "\33";
}
.linea-linkedin:before {
  content: "\5a";
}
.linea-github:before {
  content: "\30";
}
.linea-twitter:before {
  content: "\4f";
}
.linea-android:before {
  content: "\34";
}
.linea-linux:before {
  content: "\35";
}
.linea-blog:before {
  content: "\36";
}
