#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: $footer-height;
  color: #F8F8FF;
  background-color: #222;
  a {
    color: #F8F8FF;
  }
}

@media (min-width: $screen-sm-min ) and (max-width: $screen-sm-max) {
  #footer {
    height: 250px;
  }
}

@media (min-width: $screen-md-min) {
  #footer {
    height: 200px;
  }
}
