---
layout: default
title: Blog
description: A Blog about Full Stack Free Software Development of the Modern Web
---

<section id="posts" class="jscroll">
  {% for post in paginator.posts %}
    {% include post_excerpt.html %}
  {% endfor %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="pagination text-center">
          {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}" class="next">Next</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
