<!DOCTYPE html>
<html>
  <head>
    <title>hennevogel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% stylesheet application %}
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
    <meta name="theme-color" content="#000000">
  </head>

  <body data-spy="scroll" data-target="#navbar-scroll">

    {% include navigation.html %}

    {{ content }}

    {% include footer.html %}

    <script type="text/javascript" src="//oss.maxcdn.com/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//oss.maxcdn.com/chart.js/1.0.2/Chart.min.js"></script>
    <script type="text/javascript" src="//oss.maxcdn.com/jquery.jscroll/2.2.4/jquery.jscroll.min.js"></script>
    {% if page.path == 'index.html' %}
      <script type="text/javascript" src="/js/chart.js"></script>
    {% endif %}

    {% if paginator.next_page %}
      <script type="text/javascript">
        // content selector is used to extract the additional items
        $('.jscroll').jscroll({
          loadingHtml: '<p class="text-center">{% image 'loader.gif' alt:'Loading' %}</p>',
          contentSelector: "#posts",
          nextSelector: '.next:last',
          debug: true
        });
      </script>
    {% endif %}
  </body>
</html>
