---
layout: default
---
<section id="post" class="h-entry">
{% if page.image %}
  <div id="post-header" style="background-image: url({% asset_path "posts/{{ page.image }}" %});">
{% else %}
  <div id="post-header" style="background-image: url({% asset_path "posts/default.jpg" %});">
{% endif %}
  </div>
  <div id="post-title">
    {% if page.image %}
      <p id="post-image-license" class="img-license pull-right hidden-xs">
        {{ page.image_license }}
      </p>
    {% endif %}
    <div class='container'>
      <h1 class="p-name">
        {{ page.title }}
        <br>
      </h1>
      <p class="text-right">
        <small>
          published by
          <a class="p-author h-card" href="https://hennevogel.de">
            Henne
          </a>
          <br />
          on
          <time class="dt-published" datetime="{{ page.date  }}">
            {{ page.date | date: "%B %-d, %Y" }}
          </time>
          {% if page.tags.size > 0 %}
            <br />
            in
          {% endif %}
          {% for tag in page.tags %}
            <a href="/blog/tag/{{ tag }}">
              {{ tag }}
            </a>
              {% if forloop.size > 1  %}
                {% unless forloop.last %}
                ,&nbsp;
                {% endunless %}
              {% endif %}
          {% endfor %}
          {% if page.image %}
            <span class="visible-xs">
              Cover image: {{ page.image_license }}
            </span>
          {% endif %}
        </small>
      </p>
    </div>
  </div>
  <div id="post-content">
    <div class='container'>
      <div class='row'>
        <div class='col-md-8 col-md-offset-2 e-content'>
          {{ content }}
        </div>
      </div>
    </div>
  </div>
  <div id="post-comments">
    <div class='container'>
      <div class='row'>
        <div class='col-md-8 col-md-offset-2 e-content'>
          <h2>Feedback?</h2>
          <p>
            Any criticism, remarks or praise about this post?
            Get in touch, let's talk on
            <a href="https://twitter.com/henne">twitter</a>,
            <a href="https://de.linkedin.com/in/hennevogel">linkedin</a>
            or via <a href="mailto:hvogel@hennevogel.de?subject=Re: {{ page.title }}">mail</a>.
            I'm looking forward to your input!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
