---
layout: default
---
<section id="post">
{% if page.image %}
  <div id="post-header" style="background-image: url(/images/posts/{{ page.image }});">
{% else %}
  <div id="post-header" style="background-image: url(/images/posts/default.jpg);">
{% endif %}
  </div>
  <div id="post-title">
    <div class='container'>
      <h1>
        {{ page.title }}
        <br>
      </h1>
      <p class="text-right">
        <small>
          published
          {{ page.date | date: "%B %-d, %Y" }}
          {% if page.tags.size > 0 %}
            <br />
            in
          {% endif %}
          {% for tag in page.tags %}
            <a href="/blog/tag/{{ tag }}">
              {{ tag }}
            </a>
              {% if forloop.size > 1  %}
                {% unless forloop.last %}
                ,&nbsp;
                {% endunless %}
              {% endif %}
          {% endfor %}
        </small>
      </p>
    </div>
  </div>
  <div id="post-content">
    <div class='container'>
      <div class='row'>
        <div class='col-md-8 col-md-offset-2'>
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</section>
